.link {
	stroke: #D4D4D4;
}

.node {
	stroke: grey;
}

div.tooltip {
	position: absolute; 
	text-align: left;
	width: auto;
	height: auto;
	padding-left: 4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;
	font: 12px sans-serif; 
	background: lightsteelblue; 
	border-width: 1px;
	border-color: steelblue; 
	border-style: solid;
	pointer-events: none;
}

.friendslabel {
	font-family:sans-serif;
	font-size:12px;
}

#legend_rect {
	stroke-width:1;
	stroke:grey;
}
